<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Ma banque </title>
<link rel="stylesheet"  type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
 <link rel="stylesheet"  type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<header>
	
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
			<li><a th:href="@{/AddClient}"><b>Ajouter un client</b></a> </li>			
			<li> <a th:href="@{/clients}"><b>Consulter les clients</b></a> </li>
			<li> <a th:href="@{/AddCompte}"><b>Ajouter un compte</b></a> </li>
			
			<li> <a th:href="@{/comptes}"><b>Consulter les comptes</b></a> </li>
			    
			<li><a th:href="@{/operations}"><b>Les Operations sur un compte</b></a> </li>
			</ul>
			<ul class="nav navbar-nav  navbar-right">
				<li> <a th:href="@{/login?logout}"> Logout </a> </li> 
			</ul>
			</div>
		</div>
	
	
	</header>
	
	<section layout:fragment="content"></section>
	
	<footer>
	<div class="navbar-fixed-bottom">
	<small>L'adresse de notre banque</small>
	</div>
	
	
	</footer>


</body>
</html>